<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enemies</title>
    <link rel="stylesheet" href="/styles-works.css">
    <link rel="icon" type="image/png" href="public/logo.png">
</head>
<body>
    <h1>Enemies</h1>
    
    <p>Dr. Conrad Marcus Bonded With The Venom Symbiote And Killed Miles Morales' Mother</p>
    <p>The Venom symbiote in the Ultimate Universe is different than the one which bonded with Eddie Brock in the 616 universe. Instead, it was created as an experiment that went horribly wrong. Miles first encountered the symbiote after it bonded with the evil doctor, Conrad Marcus.

        After his role in the creation of the genetically-engineered spiders that gave Miles his powers was almost exposed, Dr. Marcus used the Venom symbiote in an attempt to take out the new Spider-Man and erase the evidence against him. Their climactic battle resulted in the death of Miles' mother Rio Morales, however, she returned to life after moving to the 616 reality in Secret Wars.</p>
    
        <div id="box-buttons">
            <a class="btn-about" href="/about" role="button">About</a>
            <a class="btn-works" href="/home" role="button">Home</a>
        </div>
</body>
</html>